Makefile.in
aclocal.m4
admin/Makefile.in
ar-lib
autom4te.cache
compile
config.guess
config.h.in*
config.sub
configure
Makefile.in
depcomp
install-sh
ltmain.sh
m4
missing
Makefile
.deps
config.h
config.log
config.status
config.rpath
pupvm.pc
libtool
stamp-h1
.libs
*.o
*.lo
*.la
admin/pup-volume-monitor-admin
daemon/pup-volume-monitor
tester/client
tester/gio-testing
tester/misc-testing
tester/server
